/**
----------------------
bases
----------------------
*/

body {
    margin: 2rem 4rem 8rem;
    font-family: 'lato';
    font-size: 1.1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
}

p, a, h1, h2, h3, h4 {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
    padding: 0;
}