/**
----------------------
variables
----------------------
*/

// palette de couleurs

$couleur-principale: hsl(0,0%,90.6%);
$couleur-secondaire: hsl(0,7.4%,76.3%);
$couleur-trio-A: hsl(215.6,92.5%,58.2%);
$couleur-trio-B: hsl(151.9,59.8%,62.9%);
$couleur-trio-C: hsl(6.3,81%,62.9%);

// blocs

$arrondi-bordures: .3rem;